<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Layout</title>
        <!-- 
Link to Fonts
    -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Lato&family=Molle&family=Timmana&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Oswald&family=Secular+One&display=swap" rel="stylesheet"/> 
            <!-- 
Link to Icons
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type = "text/css "href="/public/style.css" />
   
    
    <!-- 
    font-family: 'Monoton', cursive;

    font-family: 'Oswald', sans-serif;

    font-family: 'Secular One', sans-serif;
    -->
  </head>
  <body>
    <header>
      <div class="containerHeaderTitle">
        <h1>
          <a class="mainHeaderTitle" href="/"> HouseRentals</a>
        </h1>
        
      </div>
    </header>
{{> navbar }}
    <div class="addListingDiv">
 <form action="/register-newPlace" method="POST" style="max-width:500px;margin:auto">

<label class="label-add" for="roomTitle">Room Title:</label>
<input  class="input-field-add" style="width:100%" name="rTilte" type="text" placeholder="Room Title" />

<label class="label-add" for="price">Price:</label>
<input  class="input-field-add" style="width:100%" name="price" type="text" placeholder="Price" />

<label class="label-add" for="details">Details:</label>
<input class="input-field-add" style="width:100%" name="description" type="text" placeholder="Details" />

<label class="label-add" for="location">Location:</label>
<input class="input-field-add" style="width:100%" name="location" type="text" placeholder="Location" />

<label class="label-add" for="Photo">Photo:</label>
<input class="input-field-add" style="width:100%" id="photo" name="photo" type="file" />

<input type="submit" value="Submit File" />
</form>
    </div>
{{> welcome }}
  </body>
</html>
